html, body, #app, .page {
  width: 100%;
  height: 100%;
  background-color: #F9F6F2;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.fade-enter-active, .fade-enter-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}