.typing h1 {
  font-size: 5vw;
  color: #86B2B3;
  text-align: center;
  font-weight: 700;
}

.typing h2 {
  font-size: 1.5vw;
  color: #9CC2BF;
  text-align: center;
  font-weight: 600;
  margin-top: 2px;
}

.typing header {
  height: 15%;
}

.typingTest {
  height: 85%;
}

.typingInstructions {
  color: #B0BCB8;
  text-align: center;
  margin-top: 1vw;
}

.typing .centerdContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.textToType {
  border-style: solid;
  border-width: 1px;
  border-color: #B0BCB8;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  max-height: 8vw;
  border-radius: 25px;
  padding: 1vw;
  color: #86B2B3;
}

.typing #typingInput {
  margin-top: 1vw;
  border-style: solid;
  border-width: 1px;
  border-color: #B0BCB8;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5vw;
  border-radius: 15px;
  padding: 1vw;
  color: #86B2B3;
  font-size: 1vw;
  background-color: #F9F6F2;
}

.typeingResults {
  text-align: center;
  color: #86B2B3;
  font-size: 3vw;
  font-weight: 300;
}
